
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  margin: 0;
  background-color: #1A0B2E;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80%;
    margin: 0 auto;
    padding: 16px;
    color: #ffffff;
}

.L-color {
  background: linear-gradient(
    90deg,
    #ff4ecd,
    #ff8a00
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}




.nav-links {
    list-style-type: none;
    display: flex;
    gap: 32px;
    font-size: 16px;
    font-weight: 600;
    color: #eee4e4;

}
.nav-links a {
    text-decoration: none;
    color: inherit;
}

.nav-links a:hover {
    color: #007bff;
}



.btn:hover {
    background: rgb(5, 10, 68);

    color: #000000;
    text-decoration: none;
}

.nav{
    border-bottom: 0.5px solid rgb(42, 52, 99);
}

.banner{
    background:url(assets/hero-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 1600px;
    max-height: 760px;
    margin: 0 auto;
    padding: 70px 120px 134px 120px ;
    text-align: center;
}

.btn1:hover {
    background-color: #28a745;
    color: #ffffff;
    text-decoration: none;
}

.btn{
    background: linear-gradient(45deg, #30B868, #007bff);

    color: #ffffff;
    padding: 12px 16px;
    border: none;
    border-radius: 100px;
    text-decoration: none;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    gap: 8px;
}

.btn1{
    background: transparent;
    border: 1px solid #10cb61;
    color: #14cf49;
    display: inline-flex;
    align-items: center;
    padding: 12px 16px;
    border-radius: 100px;
    text-decoration: none;
    font-weight: 600;
    gap: 4px;
}


.hero-buttons {
    margin-top: 32px;
    display: flex;
    justify-content: center;
    gap: 16px;
}



.img2{
    position: absolute;
  top: 45%;        
  left: 50%;
  transform: translate(-50%, -50%);  
  width: 120px;     
  height: auto;
  pointer-events: none;
}

.banner h1{
    font-size: 40px;

    color: #ffffff;
}

.banner p{
    color: #eee4e4;
}

.desc{
    color: #eee4e4;

}

.desc-section{
    margin: 0 auto;
    align-items: center;
}

.survay{
    max-width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 40px;
    color: #eee4e4;
    align-items: center;
    
}

.survay h1{
    color: #14cf49;
    align-items: center;
    margin-left: 15%;
}

.s{
    display: inline-flex;
    align-items: center;
    margin-bottom: -1px;
}

.star{
    font-size: medium;
}

.desc {
  width: 80%;         
  margin: 0 auto;     
  text-align: center;
}

.desc-section{
    margin-top: 10px;
}
.desc-section p{
    margin-top: 8px;
}

.gap{
    margin-top: 16px;
}

hr {
  border: none;           
  border-top: 0.5px solid #372862; 
  width: 85%;              
  margin-top: 50px;       
}

.card-section{
    background-color: #230E3D;
}


.card-items div{

    border: 2px solid #230E3D;
    background-color: #372862;
    color: #ffffff;
    padding: 40px;
    border-radius: 40px;

}

.card-items div p{

    
    color: #eee4e4;
    

}
#card1{
    grid-area: card1;
    
}
#card2{
    grid-area: card2;

}
#card3{
    grid-area: card3;

}
#card4{
    grid-area: card4;

}
#card5{
    grid-area: card5;

}

.card-items{
    max-width: 80%;
    margin: 0 auto;
    display: grid;
    gap: 10px;
    grid-template-areas:
    "card1 card2 card2"
    "card1 card3 card3"
    "card4 card4 card5";

}

#card1{
    padding-top: 150px;
}

.card-head h1 {

  color: #ffffff;
  text-align: center;
  padding-top: 80px;
  
  margin-bottom: 40px;
  font-size: 48px;
  font-weight: 800;
}







